@import '../../sass/_variables';
@import '../../sass/_mixins';
@import '../../sass/container';

.about-content-wrapper {
  @include flex();
  width: 100%;
  margin: 1rem auto;
  padding-bottom: 2rem;

  @include desktop {
    @include flex();
    margin: 2rem auto;
    width: 80%;
  }
  @include desktopL {
    width: 70%;
  }
  @include tv {
    width: 55%;
  }

  .text {
    color: $light;
    font-family: $font-main;
    font-size: $text-mob;

    @include tablet {
      font-size: $text-tab;
      font-weight: 500;
      line-height: 1.6;
    }
  }

  .techs {
    color: $purple;
  }
}

.profile-mobile {
  border-radius: 50%;
  object-fit: cover;
  padding: 1.5rem 0 1rem;

  @include desktop {
    padding: 0;
  }
}
