// IMAGES
@mixin desktop {
  @media (min-width: $desktop-width) { @content; }
}

// VIDEO
.player-wrapper-row {
  display: none;
  @include desktop {
    display: block;
  }
}

.player-wrapper-column {
  display: block;
  @include desktop {
    display: none;
  }
}
