.container {
  @include flex();
  min-height: 100vh;
  padding: 0 10%;
  @include desktop {
    padding: 0 15%;
    padding-bottom: 2rem;
  }
}

.form-container {
  width: 100%;
}

// -----------------------
// Page Containers
// -----------------------
.home-container {
  @include flex(row, flex-start, center);
  padding: 0 6%;
  height: 100vh;

  @include tablet {
    background-size: contain;
    padding-left: 10%;
  }
  @include desktopL {
    padding-left: 15%;
  }
  @include tv {
    padding-left: 20%;
  }

  .subcontainer {
    @include flex(column-reverse);
    margin-top: 3rem;

    @include desktop {
      @include flex(row, space-between);
      margin-top: 0;
      margin-bottom: 1rem;
      width: 100%;
    }
    @include desktopL {
      margin-bottom: 2rem;
    }
    @include tv {
      margin-bottom: 5rem;
    }
  }
}

// ABOUT PAGE
.about {
  display: flex;
  padding: 0 1.5rem;

  @include tablet {
    padding: 0 2rem;
  }

  @include desktop {
    @include flex(column, space-evenly);
  }
}

// SKILLS PAGE
.skills {
  @include flex(column, space-evenly, center);
}

// PROJECT PAGE
.project-container {
  @include flex();
  padding-bottom: 5rem;
  @include desktop {
    width: 90%;
    margin: auto;
  }

  @include desktopL {
    width: 100%;
  }

  .title {
    padding: 0 5%;

    @include tablet {
      padding: 0 2rem;
    }

    @include desktop {
      padding: 0;
    }
  }
}

// CONTACT PAGE
.contact {
  @include flex();
}
.contact-container {
}
