@import '../../sass/_variables';
@import '../../sass/_mixins';

.PieGraph {
  @include flex();
  width: 100%;
}
.skills-mobile {
  @include flex(column, center, flex-start);
  width: 100%;
}

.skills-text {
  color: $light;
  font-size: $text-mob;
  line-height: 1.5;
  padding-right: 8%;
  padding-left: 3%;
  margin: 0;
}

.piechart {
  @include flex();
}

.labels {
  font-size: $sm;
}
